<meta charset="UTF-8" />
<head>
  <link rel="stylesheet" href="/style/main.css" />
</head>
<body>
  <div class="main_container">
    <h1>Good luck Avi</h1>

    <form name="newRest" method="post" action="/sendRest">
      <input type="text" name="title" placeholder="Restaurant name:" />
      <input type="text" name="titleHeb" placeholder="Restaurant name in hebrew:" />
      <input type="email" name="email" placeholder="Restaurant Email:" />
      <input type="submit" value="Save"/>


    </form>
  </div>
</body>
